// Typography

$font-stack: 'Lato', sans-serif;
$primary-text-color: #363636;

// Buttons

$button-text-color: #fff;

$prev-next-bg-color: #ff8b60;
$prev-next-hover: #d67a58;
$start-stop-bg-color: #9494ff;
$start-stop-hover: #7878d0;